<html>
<head>
  <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
</head>

<body>
    <h3>You are assigned to grade new project!</h3>

    <p>
      Please visit the following link to grade the project:
      <%= @project_url %>
    </p>
</body>
</html>
