<html>
<head>
  <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
</head>

<body>
    <h3>You are assigned to grade new project!</h3>

    <p>
      Please visit the following link to grade the project:
      <%= @project_url %>
    </p>
    <p>
      Project web URL:
      <%= @project_web_url %>
    </p>
    <% if @grader.technical_expert? %>
        <p>
          Project Readme URL:
          <%= @project_read_me_url %>
        </p>
    <% end %>
</body>
</html>
