<html>

<head>
  <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
</head>

<body>
<h1>Welcome to https://automatic-grading-system.herokuapp.com, <%= @grader.email %></h1>

<p>
  You have successfully signed up to https://automatic-grading-system.herokuapp.com
</p>

<p>
  To login to the site, just follow this link:
  <%= @login_url %>.
</p>

<p>Thanks for joining and have a great day!</p>

</body>
</html>
